<!DOCTYPE html>
<html>



<head>
  <center>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>

<% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.biru29.com" /> 
    <meta property="og:title"           content="Biru29 今晚啤酒 － 一個月付精釀啤酒配送服務。" />
    <meta property="og:description"     content="每月付 $1499 為您挑選搭配來自世界各地 12 隻市價共 $2000 以上的精釀啤酒組合包，每月再準時送到府上讓您享受今晚啤酒！ " /> 
    <meta property="og:image"           content="https://farm1.staticflickr.com/450/20209012468_fe68f2f0ca_b.jpg" /> 
<% end %>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
    <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>


</head>



<body>

    <br>
  	<br>
	<br>
  	<br>
	<br>
  

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
 
  </ol>
  <!-- Carousel items -->

  <div class="carousel-inner">
  <div class="active item"><a href="http://biru29.herokuapp.com/orders" ><img src="https://farm1.staticflickr.com/391/20446445135_81db9bd69c_b.jpg" width="1451" height="350" alt="what1"></a></div>



  <div class="item"><a href="http://biru29.herokuapp.com/orders" ><img src="https://farm1.staticflickr.com/359/20259854629_5d9dc69b83_b.jpg" width="1450" height="350" alt="buy1d1"></a></div>


</div>

  <!-- Carousel nav -->
 
  <div style="padding:0px;">
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
</div>


    <br>
  	<br>
  	<br>
  	<a data-flickr-embed="true" href="https://biru29.herokuapp.com/birumentary" ><img src="https://farm1.staticflickr.com/463/20452326891_7fb5cec20d_b.jpg" width="1624" height="160" alt="B2"></a>

  	<br>
  	<br>
  	<br>

  	  <div class="flex-video widescreen"><iframe width="600" height="250" src="https://www.youtube.com/embed/ETnlrYq7btE" frameborder="0" allowfullscreen></iframe>

</body>

  </center>

</html>