<!DOCTYPE html>
<html>



<head>
  <center>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>

<% content_for :head do %>
    <meta property="fb:app_id"          content="479820998782220" /> 
    <meta property="og:type"            content="website" /> 
    <meta property="og:url"             content="http://www.chef29.com" /> 
    <meta property="og:title"           content="Chef29 今晚大廚 - 有意義的精緻美食 Fine Dining With A Purpose" />
    <meta property="og:description"     content="我們為您準備食譜與食材，送到府上29分內讓您成為今晚大廚，同時（買1給1）作公益。每當您購買一份餐，我們會透過慈善機構給出1份餐或同1份餐的金額來幫助貧困兒童。 若您認同（買1給1）的公益概念是在作有意義的事，請協助我們將Chef29 的服務分享給您的朋友，告訴他們購買的第一份餐點是免費的。 " /> 
    <meta property="og:image"           content="http://farm8.staticflickr.com/7446/10771490106_011d208073_o.jpg" /> 
<% end %>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
    <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>


</head>



<body>

<br>
  	<br>
	<br>
  	<br>
	<br>
  

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
 
  </ol>
  <!-- Carousel items -->

  <div class="carousel-inner">
  <div class="active item"><a href="" ><img src="https://farm1.staticflickr.com/497/20397647396_64998e36b9_b.jpg" width="1451" height="450" alt="what1"></a></div>


  <div class="item"><a href="http://biru29.herokuapp.com/orders" ><img src="https://farm1.staticflickr.com/416/20415252152_98db8c5c79_b.jpg" width="1450" height="450" alt="buy1d1"></a></div>


  </div>
  <!-- Carousel nav -->
 
  <div style="padding:0px;">
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>

    </div>

    <br>
  	<br>
  	<br>
  	<a data-flickr-embed="true" href="https://biru29.herokuapp.com/birumentary" ><img src="https://farm1.staticflickr.com/488/19775000154_e73463e773_b.jpg" width="1424" height="160" alt="B2"></a>

  	<br>
  	<br>
  	<br>

  	  <div class="flex-video widescreen"><iframe width="600" height="250" src="https://www.youtube.com/embed/ETnlrYq7btE" frameborder="0" allowfullscreen></iframe>

</body>

  </center>

</html>