<!DOCTYPE html>
<html>
<head>
  <title>Biru29</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= favicon_link_tag 'https://farm1.staticflickr.com/516/20455961791_1ee5992ae5_b.jpg' %>

</head>

<body>

  <%= render 'layouts/header' %>
     
 <div class="container">
    <%= yield %>
 </div>



</body>

  <%= render 'layouts/footer' %>
</html>
