<!DOCTYPE html>
<html>
<head>
  <title>Biru29 今晚啤酒 － － 一個月付精釀啤酒配送服務。</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= favicon_link_tag 'https://farm1.staticflickr.com/401/20450238815_04c9f23d33_b.jpg' %>



</head>

<body>

  <%= render 'layouts/header' %>
     
 <div class="container">
    <%= yield %>
 </div>



</body>

  <%= render 'layouts/footer' %>
</html>
